### Task 1

In [42]:
n = int(input())
n = str(n)
dec = int(n[len(n) - 2])
if dec == 0:
    print(-1)
else:
    print(dec)

9

### Task 2

In [19]:
def aboba(n):
    n = n.lower()
    nl = list(n)
    nl = list(filter(lambda x : x.isalpha(), nl))
    return nl == nl[::-1]
n = input()
print(aboba(n))

True

### Task 3

In [76]:
from random import *

dic = {1 : 'январь', 2 : 'февраль', 3 : 'март', 4 : 'апрель', 5 : 'май', 6 : 'июнь',
           7 : 'июль', 8 : 'август', 9 : 'сентябрь', 10 : 'октябрь', 11 : 'ноябрь', 12 : 'декабрь'}

def fun(a):
    if (1 <= a <= 12):
        return dic[a]
    else:
        return a

def newGen(gen):
    while True:
        try:
            yield fun(next(gen) % 17)
        except StopIteration:
            break


gen = (randrange(0, 28) for i in range(10))
newgen = newGen(gen)
print(list(newgen))

['август', 'июль', 'сентябрь', 'август', 'март', 'сентябрь', 'июль', 'февраль', 'март', 'февраль']

### Task 4

In [51]:
def aboba(n):
    integ = [0] * 10
    n = str(n)
    for i in n:
        integ[int(i)] += 1
    ans = ""
    for i in range(1, 10):
        if integ[i] != 0:
            ans += str(i)
            integ[i] -= 1
            break
    for i in range(10):
        ans += str(i) * integ[i]
    return ans
n = int(input())
print(n, aboba(n))

120120120120102 100000111122222

### Task 5

In [69]:
def funFact(n):
    if n == 0:
        return 0
    mx = 1
    nf = n
    for i in range(2, n + 1):
        num = 0
        while ((nf % i) == 0):
            num += 1
            nf //= i
        mx = max(mx, num)
    return mx

n = int(input())
print(n, funFact(n))

1000 3

## Numpy

### Task 1

In [255]:
import numpy as np
from random import *
from math import *

def ang(a, b):
    return acos(np.inner(a, b) / (sqrt(np.inner(a, a) * np.inner(b, b)))) / pi * 180

a = list((randrange(-100, 100) for i in range(10)))
b = list((randrange(-100, 100) for i in range(10)))
print(ang(a, b))

72.58186352790405

### Task 2

In [276]:
from itertools import permutations

def oddeven(a):
    cnt = 0
    n = len(a)
    for i in range(n):
        for j in range(i + 1, n):
            if (a[i]>a[j]):
                cnt += 1
    if (cnt % 2) == 0:
        return 1
    else:
        return -1
        

def levi(n, g = 1):
    tup = [n] * n
    arr = np.zeros(tuple(tup))
    a = np.arange(0, n)
    perms = set(permutations(a))
    for i in perms:
        arr[i] = oddeven(i) * g
    
    return arr.astype(int)


print(levi(2))

<class 'tuple'>
<class 'tuple'>
[[ 0  1]
 [-1  0]]

### Task 3

In [292]:
from itertools import permutations
from random import *

def oddeven(a):
    cnt = 0
    n = len(a)
    for i in range(n):
        for j in range(i + 1, n):
            if (a[i]>a[j]):
                cnt += 1
    if (cnt % 2) == 0:
        return 1
    else:
        return -1
        

def levi(n, g = 1):
    tup = [n] * n
    arr = np.zeros(tuple(tup))
    a = np.arange(0, n)
    perms = set(permutations(a))
    for i in perms:
        arr[i] = oddeven(i) * g
    
    return arr.astype(int)

storage = list()
def rec(n, curr):
    if len(curr) == n:
        storage.append(curr)
        return
    for i in range(n):
        rec(n, curr + str(i))
    return

def toIntArr(a):
    ans = [0]*len(a)
    for i in range(len(a)):
        ans[i] = int(a[i])
    return tuple(ans)

def det(n, matrix):
    rec(n, '')
    levichevi = levi(n)
    ans = 0
    for indexes in storage:
        mult = levichevi[toIntArr(indexes)]
        if (mult == 0):
            continue
        for i in range(n):
            mult *= matrix[i][int(indexes[i])]
        ans += mult
    return ans

n = int(input())
a = [[randrange(1, 100) for i in range(n)] for i in range(n)]
print(np.linalg.det(a), det(n, a))

-175123170790554.62 -175123170790554

### Task 6

In [ ]:
def solve(a, b):
    return np.linalg.solve(a, b)

### Task 5 (from task_template.md)

In [307]:
def multiply(a, b):
    return a @ b
n, m, k = 1, 3, 5
a = np.array([[randrange(1, 100) for j in range(m)] for i in range(n)])
b = np.array([[randrange(1, 100) for j in range(k)] for i in range(m)])
print(multiply(a, b))

[[10095 18246 14065  8258  9954]]

## Pandas

### Task 1

In [317]:
import pandas as pd
df = pd.read_csv('use.csv')
df['count'] = 1
df

     Математика  Физика  Русский язык  count
0           100     100           100      1
1           100     100           100      1
2           100     100           100      1
3           100     100           100      1
4            99     100           100      1
..          ...     ...           ...    ...
900          72      64            78      1
901          78      57            80      1
902          70      60            80      1
903          70      57            69      1
904          62      61            76      1

[905 rows x 4 columns]

In [337]:
a = dict()
a['number_of_students'] = df['count'].sum()
a['mean_math'] = df['Математика'].mean()
a['mean_russian_for_physicists'] = df[df['Физика'] == 100]['Русский язык'].mean()
agg_math = df.groupby('Математика').agg({'Физика' : 'max', 'Русский язык' : 'min'})
a['agg_math'] = agg_math
agg_math_count = df.groupby('Математика').agg({'count' : 'sum'})
a['agg_math_count'] = agg_math_count
number_coincidences = 0
for i in range(101):
    number_coincidences += len(df[(df['Математика'] == i) & (df['Физика'] == i) & (df['Русский язык'] == i)])
a['number_coincidences'] = number_coincidences
df['sum'] = df['Математика'] + df['Физика'] + df['Русский язык']
a['sum'] = df['sum']
df2 = df.groupby('sum').agg({'count':'sum'}).tail(10)
a['max_number_coincidence'] = 293

     count
sum
293      1

### Task 3

In [ ]:
import scipy

def blur(arr, n):
    w = [1/n] * n
    scipy.ndimage.convolve1d(arr, w)

### Task 2

In [353]:
import datetime

def daycount(string):
    a = string.split('.')
    return datetime.date(int(a[0]),int(a[1]),int(a[2])) - datetime.date(1, 1, 1)

def siiiiii(df):
    df['Days_Count'] = list(map(daycount, df['Data']))
    return df

d = {"Data" : ['1111.11.11', '2222.12.22']}
d = pd.DataFrame(d)
siiiiii(d)

         Data            Days_Count
0  1111.11.11  405732 days, 0:00:00
1  2222.12.22  811558 days, 0:00:00